# Medusa 2.0 Backend URL
NEXT_PUBLIC_MEDUSA_BACKEND_URL=http://localhost:9000

# Publishable API Key (Created in Medusa Admin under Settings -> Storefront API Keys)
NEXT_PUBLIC_MEDUSA_PUBLISHABLE_KEY=

# Supabase Configuration
SUPABASE_URL=
SUPABASE_API_KEY=
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
